# Runtime
src/audio_cache/
src/bin/
src/data/
src/logs/
src/musicbot/__pycache__/
src/musicbot/lib/__pycache__/

# Docker
.dockerignore
Dockerfile

# Git
.git/
.gitattributes
.gitignore

# IDE
.idea/
.vscode/